/*
  ========================================
  Custom styles
  ========================================
*/
body {
    color: #888;
    font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    color: #648880;
}

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}

.teaser a:hover h3 {
    color: #a9b2b9;
}

/*
  ========================================
  Links
  ========================================
*/

a {
    color: #648880;
    text-decoration: none;
}
a:hover {
    color: #a9b2b9;
}
p a {
    border-bottom: 1px solid #dfe2e5;
}

/*
  ========================================
  layout
  ========================================
*/

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-container > * {
    padding: 10px;
    flex: 1 100%;
}

body {
    padding: 0 1em;
}

div {
    max-width: 960px;
    margin: 0 auto;
}

/*
  ========================================
  Media Queries
  ========================================
*/

/*GREATER THAN 600px*/
@media all and (min-width: 600px) {
    article {
        order: 1;
    }

    .aside-1 {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .aside-3 {
        order: 4;
    }

    footer {
        order: 5;
    }

    /*.aside-1, .aside-2 { flex: 1 0px; }*/
    .flex-row {
        display: flex;
        flex-flow: row wrap;
    }

    .flex-col {
        display: flex;
        flex-flow: column wrap;
    }

    body {
        padding: 0 2em;
    }
}

/*GREATER THAN 800px*/
@media all and (min-width: 800px) {
    .aside {
        flex: 1 0px;
    }

    body {
        padding: 0 3em;
    }
}

/*******************************************


/*
  ========================================
  FORMATTING FONTS & STUFF - Typography
  ========================================
*/

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

/*
  ========================================
  FORMATTING FONTS & STUFF - Buttons
  ========================================
*/

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}

.btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
}

/*
  ========================================
  FORMATTING FONTS & STUFF - Primary header
  ========================================
*/

.logo {
    border-top: 4px solid #648880;
    padding: 40px 0 22px 0;
    font-size: 48px;
    line-height: 44px;
}

.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}

.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

/*
  ========================================
  FORMATTING FONTS & STUFF - Primary footer
  ========================================
*/

.primary-footer {
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.primary-footer small {
    font-weight: 400;
}

/*
  ========================================
  Home
  ========================================
*/

article {
    line-height: 44px;
    padding: 22px 80px 66px 80px;
}

article h2 {
    font-size: 36px;
}

article p {
    font-size: 24px;
}

/*
  ========================================
  see regions of document - for development only
  ========================================
*/

/*

header {
    background-color: lightblue;
}

article {
    background-color: green;
}

aside {
    background-color: pink;
}

h1, section.col-1-3 {
    border: 2px solid red;
}

h3, nav {
    border: 2px solid black;
}

footer {
    background-color: darkturquoise;
}
*/
